:root {
  --font-regular: "barlow-regular";
  --font-italic: "barlow-italic";
  --font-bold: "barlow-bold";
}

@font-face {
  font-family: "barlow-regular";
  src: url(../css/font/barlow/Barlow-Regular.ttf);
}

@font-face {
  font-family: "barlow-italic";
  src: url(../css/font/barlow/Barlow-Italic.ttf);
}

@font-face {
  font-family: "barlow-bold";
  src: url(../css/font/barlow/Barlow-Bold.ttf);
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a,
p,
h1,
h2,
h3 {
  font-family: var(--font-regular);
}

/* end reset */

main {
  padding: 2% 0%;
  background: #f1f1f1;
}

.header-jeu {
  background-size: cover;
  object-fit: cover;
}

h1 {
  text-align: center;
  margin-bottom: 1%;
  font-size: 1.5rem;
}

.jeu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin: 0% 2% 0% 2%;
  justify-content: space-evenly;
}

/* card overlay */
.card {
  width: 325px;
  height: 425px;
  object-fit: cover;
  border-radius: 20px;
  border: 5px solid #333333;
  position: relative;
  overflow: hidden;
  margin: 1%;
}

.card:hover .card-body {
  top: 0%;
  transition: 0.3s;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-body {
  width: 100%;
  height: 100%;
  right: 0;
  top: 100%;
  position: absolute;
  background-color: #54666e73;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
}

.card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
  font-family: var(--font-regular);
  text-align: center;
}

.card-sub {
  text-align: center;
  padding: 10px;
}

.card-btn {
  text-transform: uppercase;
  font-family: var(--font-regular);
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  outline: transparent;
  background-color: #eeeeee;
}

section {
  height: 100vh;
  background-color: #333333;
}

/* card overlay */

/* Carousel */

.slider-wrapper .image-list {
  display: flex;
  gap: 18px;
  font-size: 0;
  overflow-x: auto;
  margin-bottom: 30px;
  scrollbar-width: none;
  grid-template-columns: repeat(12, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.container {
  padding-top: 2%;
  max-width: 1200px;
  margin: 0 auto;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.image-list {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.image-item {
  min-width: 300%;
  height: 300px;
  flex: 0 0 auto;
}

.img-carousel {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.img-carousel img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background-color: white;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: black;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

#prev-slide,
#next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.image-list {
  display: flex;
  overflow-x: scroll;
}

.image-item {
  flex: 0 0 auto;
}

#prev-slide {
  left: 10px;
}

#next-slide {
  right: 10px;
}

.slider-wrapper .slide-button img {
  position: absolute;
  transform: translateY(-50%);
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button:hover {
  background-color: #f1f1f1;
}

.carouseul-lien::after {
  text-transform: uppercase;
  font-family: var(--font-regular);
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  outline: transparent;
  background-color: #eeeeee;
}

/* Media carouse */

@media (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .slider-wrapper .image-list .image-item-wrapper {
    width: 100%;
    height: auto;
  }

  .img-carousel {
    height: auto;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 30%;
  }

  #prev-slide,
  #next-slide {
    height: 25px;
    width: 25px;
  }
}
