:root {
  --font-regular: "barlow-regular";
  --font-italic: "barlow-italic";
  --font-bold: "barlow-bold";
}
@font-face {
  font-family: "barlow-regular";
  src: url(../css/font/barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: "barlow-italic";
  src: url(../css/font/barlow/Barlow-Italic.ttf);
}
@font-face {
  font-family: "barlow-bold";
  src: url(../css/font/barlow/Barlow-Bold.ttf);
}
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  text-decoration: none;
}
/* end reset */
main {
  background-image: url("../img/login_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5%;
  text-align: center;
}
h1 {
  padding: 3% 0%;
  font-size: 2rem;
  font-family: var(--font-regular);
  font-weight: bolder;
}
form {
  font-family: var(--font-regular);
  width: 20%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  height: 500px;
  gap: 30px;
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 0px 48px 35px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 48px 35px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 48px 35px rgba(0, 0, 0, 0.12);
  padding-bottom: 2%;
}
form::after {
  content: "";
  position: absolute;
  border-right: solid 1px black; /* Ajout de la couleur pour le bord */
  height: 120%; /* Spécifiez la hauteur pour que le bord soit visible */
  right: -100px;
  top: -50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  clip-path: inset(0px -15px 0px 0px);
}
figure img {
  margin: auto;
  padding-top: 4%;
}
.form {
  font-family: var(--font-regular);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
  font-size: 1.3rem;
}
.form label {
  font-family: var(--font-regular);
}
.form input {
  width: 80%;
  margin-top: 2%;
  padding: 1%;
  border-radius: 25px;
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--font-regular);
}
.form input::placeholder {
  font-size: 0.9rem;
  font-family: var(--font-regular);
}
.inscription {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  margin-bottom: 5%;
  gap: 10px;
}
.inscription button {
  font-family: var(--font-regular);
  padding: 2%;
  border: none;
  outline-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;
  height: 40px;
}

@media (min-width: 1000px) and (max-width: 1300px) {
  form {
    width: 30%;
  }
  form::after {
    display: none;
  }
}
@media (min-width: 1px) and (max-width: 1000px) {
  form {
    width: 80%;
    margin: auto;
    height: auto;
  }
  form::after {
    display: none;
  }
  .inscription {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
