:root {
  --font-regular: "barlow-regular";
  --font-italic: "barlow-italic";
  --font-bold: "barlow-bold";
}
@font-face {
  font-family: "barlow-regular";
  src: url(../css/font/barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: "barlow-italic";
  src: url(../css/font/barlow/Barlow-Italic.ttf);
}
@font-face {
  font-family: "barlow-bold";
  src: url(../css/font/barlow/Barlow-Bold.ttf);
}
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  text-decoration: none;
}
p,
a,
h1,
h2 {
  font-family: var(--font-regular);
}

/* Fichie Jeu */
.header-jeu {
  width: 100%;
  background-size: cover;
  object-fit: cover;
}
main {
  background: rgb(245, 222, 179);
  background: radial-gradient(
    circle,
    rgba(245, 222, 179, 0.3981967787114846) 16%,
    rgba(245, 222, 179, 1) 100%
  );
  padding-top: 5%;
  padding-bottom: 5%;
}
.titre-jeu {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.img-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-size {
  width: 325px;
  height: 425px;
}

.img-plateforme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text p,
.plateforme p {
  text-align: center;
  border: solid 1px gray;
  background-color: #f9f5fb;
  text-align: center;
  font-family: var(--font-regular);
}

.img-1 img {
  padding-top: 1%;
}

.img-2 img {
  padding-top: -1%;
}

.text p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  width: 300px;
  height: 390px;
  margin-top: 3.5%;
  border: solid 1px gray;
}

.plateforme p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 20px;
  width: 300px;
  height: 390px;
}

.container-jeu {
  padding-top: 30px;
}

.description {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  backdrop-filter: blur(5px);
  height: auto;
  margin-top: 2%;
  text-align: center;
  height: auto;
  color: wheat;
  padding: 2%;
  border-radius: 20px;
}
.description p {
  font-size: 1.3rem;
}

section {
  background-color: #414141;
  background-image: url("../img/polygon-scatter-haikei.png");
  padding: 3% 0% 3% 0%;
  margin: auto;
  color: #f5deb3d2;
}
iframe {
  display: block;
  margin: auto;
  border: 2.5px solid;
  box-shadow: rgba(245, 222, 179, 0.473) 0px 10px 36px 0px,
    rgba(245, 222, 179, 0.5) 0px 0px 0px 1px;
}
.img-size {
  height: 400px;
  width: 300px;
}
h2 {
  text-align: center;
  margin-bottom: 2%;
  font-size: 2rem;
}

/* Media 1571 */

@media (min-width: 604px) and (max-width: 1571px) {
  .text p {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plateforme p {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-accueil {
    margin-left: 90px;
  }
  iframe {
    width: 80%;
  }
  .description {
    width: 80%;
  }
}

/* Media 620 */

@media (min-width: 601px) and (max-width: 620px) {
  .titre-jeu {
    margin-top: 30px;
  }

  .img-2 img {
    display: none;
  }

  .text p {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .plateforme p {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  iframe {
    width: 80%;
    height: 300px;
  }
  .description {
    width: 80%;
  }
}

@media (min-width: 350px) and (max-width: 600px) {
  .titre-jeu {
    margin-top: 30px;
  }

  .img-2 img {
    display: none;
  }

  .text p {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .plateforme p {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  iframe {
    width: 80%;
    height: 300px;
  }
  .description {
    width: 80%;
  }
}

/* Media 603 */

@media (min-width: 350px) and (max-width: 603px) {
  .img-2 {
    display: none;
  }

  .text p {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .img-1 img {
    margin-top: 50px;
  }

  .plateforme p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .plateforme {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mobile-accueil {
    margin-left: 90px;
  }
  iframe {
    width: 100%;
    height: 300px;
  }
  .description {
    width: 90%;
  }
}

/* Media 349 */

@media (max-width: 349px) {
  .titre-jeu {
    margin-top: 30px;
  }
  .img-2 img {
    display: none;
  }
  .text p {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .plateforme p {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .description {
    padding-right: 80%;
  }
  iframe {
    width: 100%;
    height: 300px;
  }
  .description {
    width: 100%;
  }
}
