*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

/* Fichier Navbar */

.menu {
  position: sticky;
  top: 0;
  display: block;
  z-index: 999;
  padding: 20px;
  background-color: #a78bfa;
  border-bottom: solid 1px;
  font-size: 20px;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-nav a {
  padding: 20px;
}

.has-sous-nav {
  position: relative;
}

.menu-nav .sous-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: none;
  text-align: center;
  position: absolute;
  top: 44px;
  left: 15px;
  width: 200px;
  width: max-content;
  background-color: aliceblue;
  border: solid 1px;
  background-color: #a78bfa;
}

.sous-nav li {
  margin: 20px 0;
  width: 100%;
}

.sous-nav li a {
  display: block;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.sous-nav li a:hover {
  background-color: #f2f2f2;
}

.has-sous-nav:hover .sous-nav {
  display: block;
}

.mobile-nav {
  width: 100%;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 9999;
  padding-inline: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #a78bfa;
  display: none;
}

/* Media */

@media (max-width: 810px) {
  .menu {
    transform: translateX(-100%);
    transition: 0.3s ease;
  }

  .mobile-nav {
    display: flex;
  }

  .container-nav {
    width: 100%;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
  }

  .menu-nav {
    flex-direction: column;
    width: 100%;
  }

  .menu-nav a {
    text-align: center;
    box-sizing: border-box;
    display: block;
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 0;
  }

  .mobile-accueil {
    font-size: 1.5rem;
    margin-left: 30%;
  }

  .menu-nav .sous-nav,
  .sous-nav li {
    margin-right: 50%;
    display: none;
  }
}

@media (min-width: 349px) and (min-width: 520px) {
  .mobile-accueil {
    font-size: 1.5rem;
    padding-left: 70%;
  }
}

/* Fichier Footer */

footer {
  background-color: #a78bfa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 125px;
}

.logo-footer img {
  display: flex;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

footer li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-game-list-size {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

@media (min-width: 349px) and (max-width: 1200px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  footer li {
    margin: 10px 0;
    justify-content: center;
  }

  .logo-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
