:root {
  --font-regular: "barlow-regular";
  --font-italic: "barlow-italic";
  --font-bold: "barlow-bold";
}
@font-face {
  font-family: "barlow-regular";
  src: url(../css/font/barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: "barlow-italic";
  src: url(../css/font/barlow/Barlow-Italic.ttf);
}
@font-face {
  font-family: "barlow-bold";
  src: url(../css/font/barlow/Barlow-Bold.ttf);
}
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  text-decoration: none;
}
p,
a {
  font-family: var(--font-regular);
}

/* Fichier Navbar */

.menu {
  position: sticky;
  top: 0;
  display: block;
  z-index: 999;
  padding: 20px;
  background-color: #7599ac;
  border-bottom: solid 1px;
  font-size: 20px;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-nav a {
  padding: 20px;
}

.has-sous-nav {
  position: relative;
}
.pseudo {
  color: wheat;
}
.menu-nav .sous-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: none;
  text-align: center;
  position: absolute;
  top: 44px;
  left: 15px;
  width: 200px;
  width: max-content;
  background-color: aliceblue;
  border: solid 1px;
  background-color: #7599ac;
}

.sous-nav li {
  margin: 20px 0;
  width: 100%;
}

.sous-nav li a {
  display: block;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.sous-nav li a:hover {
  background-color: #f2f2f2;
}

.has-sous-nav:hover .sous-nav {
  display: block;
}

.mobile-nav {
  width: 100%;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 9999;
  padding-inline: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #7599ac;
  display: none;
}

/* Media */

@media (max-width: 810px) {
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #7599ac;

    color: #fff;
  }

  .mobile-nav img {
    cursor: pointer;
  }

  #mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #4b545873;
    color: white;
    z-index: 1000;
    padding-top: 50px;
    transition: all 0.3s ease-in-out;
    border: none;
    backdrop-filter: blur(5px);
  }

  #mobile-menu.show {
    display: block;
  }

  #mobile-menu .container-nav {
    text-align: center;
  }

  #mobile-menu a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 15px 0;
    font-size: 18px;
  }

  .menu-nav {
    list-style-type: none;
    padding: 0;
  }

  .menu-nav li {
    margin: 10px 0;
    /* border: solid 3px blue; */
  }

  .sous-nav {
    display: none;
  }

  /* Fin test au dessus */

  .mobile-nav img {
    cursor: pointer;
  }

  .mobile-nav {
    display: flex;
  }

  .container-nav {
    width: 100%;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
  }

  .menu-nav {
    flex-direction: column;
    width: 100%;
  }

  .menu-nav a {
    text-align: center;
    box-sizing: border-box;
    display: block;
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 0;
  }

  .mobile-accueil {
    font-size: 1.5rem;
    margin-left: 30%;
  }

  .menu-nav .sous-nav,
  .sous-nav li {
    margin-right: 50%;
    display: none;
  }

  @media (min-width: 349px) and (max-width: 520px) {
    .mobile-accueil {
      font-size: 1.5rem;
      padding-left: 70%;
    }
  }
}

/* Fichier Footer */

footer {
  bottom: 0;
  background-color: #7599ac;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 125px;
}

.logo-footer img {
  display: flex;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.picture-game-list-size {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

@media (min-width: 349px) and (max-width: 810px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  footer li {
    margin: 10px 0;
    justify-content: center;
  }

  .logo-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
