*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #333333;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

/* Fichier Navbar */

.container-nav {
  background-color: #8d958f;
  font-weight: 500;
  font-size: 23px;
  /* position: sticky; */
  top: 0;
  left: 0;
  border-bottom: solid 1px;
}

.container-nav > ul {
  display: flex;
}

.container-nav li a {
  display: block;
  padding: 20px;
}

.droite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  gap: 40px;
}

.sous-nav {
  display: none;
  position: absolute;
  top: 60px;
  left: 15px;
  background-color: #a78bfa;
  width: max-content;
  text-align: center;
}

.sous-nav li a:hover {
  background: #f2f2f2;
}

.has-sous-nav {
  position: relative;
}

.has-sous-nav:hover .sous-nav {
  display: block;
}

/* Header*/

.header-jeu img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.header-index img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Fichier Login */

.container-login {
  font-size: 16px;
  padding: 1%;
}

.container-login h1 {
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding: 2%;
  padding-bottom: 3%;
}

.container-login h2 {
  height: 20%;
  color: black;
  font-size: 30px;
}

.container-login {
  background-image: url(../img/login_background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login input {
  border-radius: 20px;
  background-color: #885bbd;
  opacity: 0.3;
  border: none;
  padding: 2%;
}

.inscription input {
  border-radius: 20px;
  background-color: #885bbd;
  border: none;
  padding: 2%;
}

button {
  border-radius: 50px;
  background-color: gray;
  border: none;
  padding: 4%;
  transition: all 0.3s;
}

button:hover {
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.button-login button {
  padding: 2%;
  font-size: 20px;
}

.button-inscription button {
  padding: 3%;
  font-size: 23px;
}

.login a {
  text-decoration: none;
}

.inscription a {
  text-decoration: none;
}

.container-login a {
  color: black;
}

.login {
  background-color: #f9f5fb;
  text-align: center;
  border-radius: 50px;
  width: 20%;
  height: 600px;
}

.inscription {
  border: solid 1px gray;
  background-color: #f9f5fb;
  text-align: center;
  border-radius: 50px;
  width: 20%;
  height: 600px;
}

.login h2,
.login label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login label,
.login input {
  margin-bottom: 15px;
}

.login label {
  margin-bottom: 1%;
}
.inscription label {
  margin-bottom: 1%;
}

.login h2 {
  margin-bottom: 5%;
}

.inscription h2,
.inscription label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(15px);
  margin-left: 5%;
  margin-bottom: 70px;
}

.inscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(15px);
  margin-left: 80%;
  display: none;
}

.login form {
  padding-bottom: 5%;
}

.profil-login figure img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 110px;
  margin-bottom: 35px;
}

/* Fichie Jeu */

.titre-jeu {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 2%;
  text-transform: uppercase;
}

.img-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-plateforme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text p,
.img-1 img,
.img-2 img,
.plateforme p {
  text-align: center;
  border: solid 1px gray;
  background-color: #f9f5fb;
  text-align: center;
}

.text p {
  border-top-left-radius: 20px;
  width: 300px;
  height: 390px;
  margin-top: 3.5%;
  border: solid 1px gray;
}

.plateforme p {
  border-bottom-right-radius: 20px;
  width: 300px;
  height: 390px;
}

.container-jeu {
  padding-top: 30px;
}

.description p {
  border: solid 1px gray;
  text-align: center;
  background-color: #8e9cca;
  width: 50%;
  height: 450px;
  border-radius: 10px;
  margin-left: 25%;
  margin-top: 50px;
}

.trailler p {
  border: solid 1px gray;
  text-align: center;
  background-color: #8e9cca;
  width: 80%;
  height: 390px;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 70px;
}

/* Fichier Index */

.container-index {
  margin-bottom: 100px;
  background-color: #885bbd;
}

.container-index-1 {
  margin-bottom: 100px;
  background-color: #8e9cca;
}

.titre-index {
  padding-top: 2%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.img-index img,
.img-index-1 img {
  margin-top: 70px;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  border: solid 2px blue;
}

.img-1-index img,
.img-2-index img {
  margin-top: 200px;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  border: solid 2px red;
}

/* Fichier Catégories */

.container-categories {
  margin-bottom: 100px;
  background-color: #885bbd;
}

.container-categories-1 {
  margin-bottom: 100px;
  background-color: #8e9cca;
}

.titre-categories {
  padding-top: 2%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.img-categories img,
.img-categories-1 img {
  margin-top: 70px;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  border: solid 2px blue;
}

.img-1-categories img,
.img-2-categories img {
  margin-top: 200px;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  border: solid 2px red;
}

/* Fichier Footer */

footer {
  background-color: #a78bfa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 125px;
}

.logo-footer figure img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

footer li {
  justify-content: center;
}

.picture-game-list-size {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

/* Menu burger */

/* @media screen and (max-width: 767.98px) {
  .nav-lien {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    right: 0;
    border: solid 1px;
  }
}

@media screen and (min-width: 768px) {
  .nav-lien > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    border: solid 1px;
  }

  .nav-lien:hover > a::after {
    width: 100%;
    border: solid 1px;
    transition: width 0.5s;
  }
} */

/* Responsive Fichier Jeu */

@media (min-width: 481px) and (max-width: 1570px) {
  /* Jeu */

  .img-2 {
    display: none;
  }

  .text {
    margin-bottom: 20px;
  }

  .img-1 img {
    margin-top: 30px;
  }

  .plateforme {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  /* Login */

  .login {
    /* margin-top: 50px;
    margin-left: 20%; */
    width: 20%;
    border: solid 3px red;
  }

  .profil-login img {
    padding: 0.5%;
  }

  /* Footer */

  footer li {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
